section.why-section
    +spot2
    .container
        .title.title--h2.why-section__title Почему онлайн автошкола?
        -
            let content = [
            {
            "class": "",
            "number": "1",
            "title": "Учись дома",
            "description":"Не нужно тратить время на дорогу к школе — все материалы есть в приложении. Можно учиться где и когда удобно, а не подстраиваться под расписание автошколы.",
            "image" : "/img/why1.svg",
            "vector" : "/img/dots1.svg"
            },
            {
            "class" : "why-box--row-reverse",
            "number" : "2",
            "title" : "В 2.5 раза быстрее",
            "description" : "Материал, который в обычных автошколах проходят за 2.5 месяца, в Клик Драйв можно пройти за месяц благодаря коротким тематическим урокам без воды и мусора.",
            "image" : "/img/why2.svg",
            "vector" : "/img/dots2.svg"
            },
            {
            "class": "",
            "number": "3",
            "title": "С 3D-визуализациями",
            "description":"Для каждого урока мы делаем наглядные иллюстрации и 3D-визуализации ситуаций на дороге. Можно пересматривать хоть сто раз.",
            "image" : "/img/why3.svg",
            "vector" : "/img/dots1.svg"
            },
            {
            "class": "why-box--row-reverse",
            "number": "4",
            "title": "Практические занятия по всему Киеву",
            "description":"Зашел в приложение → выбрал время и место → выбрал инструктора по рейтингу → ездишь 1.5 часа → оставляешь отзыв об инструкторе ",
            "image" : "/img/why4.svg",
            "vector" : "/img/dots2.svg"
            },
            {
            "class": "",
            "number": "5",
            "title": "Поддержка 24/7",
            "description":"Остались вопросы по уроку? Задай их в чат и получи ответ, вместо того чтобы неделю ждать следующего занятия.",
            "image" : "/img/why5.svg"
            },

            ]
        each item in content
            .why-box(class=item.class)
                .why-box__column-block
                    .why-box__title-box
                        .why-box__number
                            span=item.number
                        .title.title--h3=item.title
                    .why-box__text-block=item.description
                .why-box__img-block
                    img(src=item.image)
                img(src=item.vector).dots